/* ----- Site-wide settings ----- */

body {
    background: #000 url(../img/bg.png) center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

#container {
    margin-top: 2em;
    margin-left: 7em;
    margin-right: 7em;
    background-color: #eee;
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.center {
    text-align: center;
}

.content {
    line-height: 1.2em;
    font-family: 'Open Sans', sans-serif;
    margin: 0 10px 0 10px;
}

.bold {
    font-weight: 800;
}

.fas {
    font-size: 2.5em;
    color: #8a2fdc;
}

/* ----- Heading Icon ----- */

#title {
    text-align: center;
    padding-top: 1.1em;
}

#title,
.content {
    padding-bottom: 1.1em;
}


/* ----- Heading Logo ----- */

#logo {
	display: inline-block;
	padding: 1em 0;
	width: 100%;
	background: -webkit-linear-gradient(#8a2fdc -50%, #eee);
    background: -o-linear-gradient(#8a2fdc -50%, #eee);
    background: -ms-linear-gradient(#8a2fdc -50%, #eee);
    background: -moz-linear-gradient(#8a2fdc -50%, #eee);
    background: linear-gradient(#8a2fdc -50%, #eee);
}

#logo img {
    width: 100px;
}

#logo h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
}

/* ----- Navigation ----- */

#main-nav {
    text-align: center;
	background: #eeeeee;
}

#main-nav ul li {
    margin-left: 5px;
    position: relative;
    padding: 5px 15px;
    margin-bottom: 10px;
	display: inline-block;
	font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

#main-nav ul li a {
    color: #262626;
	text-decoration: none;
}

#main-nav ul li a:hover {
  color: white;
}

#main-nav > ul > li.current {
    font-weight: bold;
}

#main-nav:after,
#main-nav > ul > li.current:before {
    content: "";
    display: block;
    width: 100%;
    height: .75em;
    background-color: #800080;
}

#main-nav > ul > li.current:before {
    -moz-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    width: .75em;
    position: absolute;
    bottom: -1.1em;
    left: 50%;
    margin-left: -.375em;
}

/* ----- Sidebar ----- */

.tokubetsu {
	float: left;
	width: 65%;
}

#sidebar {
	float: right;
	width: auto;
	padding: 10px;
}

 /* ----- index.html ----- */

.section-title {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	padding-bottom: 10px;
}

.statusbox {
    float: left;
	font-family: "Helvetica Neue";
	font-size: 14px;
	font-weight: 700;
    border-radius: 5px;
    background-color: #fff;
    padding: 0.5em;
    width: 350px;
}

.label {
    text-align: right;
    float: left;
    margin-right: 1em;
    min-width: 10em;
    color: #444;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color:  #999;
    padding: 0.1em;
    border-radius: 5px;
    margin-bottom: 0.4em;
}

.status-content {
    color: #666;
    float: left;
    padding: 0.1em;
    margin-bottom: 0.4em;
}

.ui-tooltip,.arrow:after {
  background: #fff;
}

.arrow {
  width: 70px;
  height: 5px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -5px;
}

.arrow:after {
  content: "";
  position: absolute;
  left: 22px;
  top: -25px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.player-head {
  margin: 2px;
}

 /* ----- screenshots.html ----- */

*.no-highlight {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#screenshots-list {
   text-align: center;
   padding-bottom: 50px;
}

.screenshot-1x {
    margin: 5px;
    padding: 5px;
    height: auto;
    width: 98%;
    display: inline-block;
}

.screenshot-3x {
    margin: 5px;
    padding: 5px;
    height: auto;
    width: 31%;
    display: inline-block;
}

.screenshot-2x {
    margin: 5px;
    padding: 5px;
    height: auto;
    width: 48%;
    display: inline-block;
}

.screenshot-1x img {
    width: 100%;
    border-radius: 5px
}

.screenshot-3x img {
    width: 100%;
    border-radius: 5px
}

.screenshot-2x img {
    width: 100%;
    border-radius: 5px
}

/* ----- source-log.html ----- */

#source-log table {
    width: 100%;
}

#source-log table tr td {
    padding: 10px;
    border: 1px solid black;
}

#source-log a {
    text-decoration: none;
    color: rgb(0, 0, 238);
}

/* ----- site-map.html ----- */

#site-map {
    margin: 10px;
    width: 100%;
    line-height: 1.5;
}

#site-map a {
    color: rgb(0, 0, 238);
    text-decoration: none;
}

#site-map a:hover {
    text-decoration: underline;
}

#site-map span {
    font-size: 1.1em;
}

/* ----- contribute.html ----- */

#contribute input:focus {
    border: 1px solid #9370db;
}

#contribute textarea {
    resize: none;
    width: 200px;
    height: 100px;
}

#text-box {
    width: 200px;
}

/* ----- Dropotron ----- */

.dropotron {
    background-color: #eee;
    border-radius: 5px;
    color: #fff;
    min-width: 10em;
    padding: 1em 0;
    box-shadow: 0 1em 1em 0 rgba(0, 0, 0, .5);
}

.dropotron > li {
    line-height: 2em;
    padding: 0 1.1em 0 1em;
}

.dropotron > li > a {
    color: #000;
    border: 0;
    font-family: sans-serif;
    text-decoration: none;
}

.dropotron>li.active>a,
.dropotron>li:hover>a {
    color: #fff;
}

.dropotron.level-0 {
    border-radius: 0 0 5px 5px;
    font-size: .9em;
    padding-top: 0;
}

/* Large Devices, Wide Screens */

@media screen and (max-width:1280px) {

    #container {
        margin-left: 3.5em;
        margin-right: 3.5em;
    }
}

/* Medium Devices, Desktops */

@media screen and (max-width:960px) {

    #container {
        margin-left: 3em;
        margin-right: 3em;
    }
}

/* Small Devices, Tablets */

@media screen and (max-width:768px) {

    #main-nav:after,
    #main-nav > ul > li.current:before {
        display: none;
    }

    #logo img {
        width: 80px;
    }

    #container {
        margin-left: 2em;
        margin-right: 2em
    }

}